{% extends 'base.html.twig' %}

{%- block title -%}
    DSL - Documentation - Flow PHP - Data Processing Framework
{%- endblock -%}

{%- block description -%}
    DSL Documentation - DSL stands for Domain Specific Language. In the case of Flow, the DSL is used to define simple functions that can be used to transform data.
    Most of those functions are initializing a new instance of a class under the hood since Flow is fully object-oriented.
{%- endblock -%}

{%- block hero -%}
{% endblock %}

{% block main %}
<div class="mt-5 mb-5 px-2 sm:px-4 mx-auto max-w-screen-xl" data-hx-boost="true">
    <div class="grid grid-cols-1 lg:grid-cols-6">
        <div class="order-1 lg:order-0 col-span-1 lg:col-span-1 lg:sticky lg:top-0 lg:max-h-screen lg:overflow-y-auto">
            <h1 class="font-bold text-2xl mb-4 hidden lg:block">
                DSL References
            </h1>
            <div class="lg:hidden p-2 text-center">
                <button class="font-bold text-xl" aria-controls="dsl-references-navigation" data-collapse-toggle="dsl-references-navigation">
                    DSL References

                    <svg class="w-3 h-3 ml-2 inline" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
            </div>
            <ul id="dsl-references-navigation" class="mb-10 mr-6 hidden lg:block">
                <li class="mb-1" data-dsl-module="{{ module_name | slugify | lower }}">
                    <a href="{{ path('documentation') }}">⬅️️ Back</a>
                </li>
                {% for module in modules %}
                    <li class="mb-1" data-dsl-module="{{ module_name | slugify | lower }}">
                        <a
                            href="{{ path('documentation_dsl', {module: module.name | lower, _fragment:"dsl-functions"}) }}"
                            class="{% if module.name | lower == module_name  %}text-white {% endif %}"

                        >{{ module.value }}</a>
                        {% if module.name | lower == module_name | lower %}
                        <ul class="list-disc pl-6 mt-2">
                            {% for type in types %}
                                {% if definitions.onlyType(type).count %}
                                    <li class="text-sm">
                                        <a href="#type-{{ type.name|lower }}">{{ type.value }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="order-3 lg:order-1 lg:col-span-4 py-2 px-4">
            <hr class="text-blue-100 my-4 border-t-2 rounded" />
            <p class="mb-2 text-sm italic">
                DSL stands for Domain Specific Language. In the case of Flow, the DSL is used to define simple functions that can be used to transform data.
                Most of those functions are initializing a new instance of a class under the hood since Flow is fully object-oriented.
                Please look at the <a href="{{ path('example', {topic: "data_frame", example: "data_frame", _fragment: "example"}) }}">examples</a> below to get a better understanding of how to use the DSL functions.
            </p>

            <section class="google-ad">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2364202911639369" crossorigin="anonymous"></script>
                <ins class="adsbygoogle"
                     style="display:block; text-align:center;"
                     data-ad-layout="in-article"
                     data-ad-format="fluid"
                     data-ad-client="ca-pub-2364202911639369"
                     data-ad-slot="7201592389">

                </ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </section>

            {% for type in types %}
                {% if definitions.onlyType(type).count %}
                    <h2 id="type-{{ type.name|lower }}" class="font-bold text-2xl mb-2" data-dsl-type="{{ type.value }}">
                        <a href="#type-{{ type.name|lower }}" class="text-white">
                            {{ type.name }}
                        </a>
                    </h2>
                    <hr class="text-blue-100 my-4 border-t-2 rounded" />
                    {% for definition in definitions.onlyType(type).all %}
                        <article data-dsl-function>
                            <div class="grid grid-cols-2 mb-2">
                                <div class="text-left">
                                    <h4 class="mb-2 inline" id="dsl-{{ definition.name }}">
                                        <a href="{{ path('documentation_dsl_function', {module: definition.module.name | lower, function: definition.name | slugify | lower, _fragment: "dsl-function"}) }}" class="text-white">
                                            <img src="{{ asset('images/icons/link.svg') }}" width="16" height="16" alt="feature" class="inline">
                                            {{ definition.name }}
                                        </a>
                                    </h4>
                                </div>
                                <div class="text-right">
                                    <a class="btn btn-primary" href="{{ definition.githubUrl }}" target="_blank" data-dsl-source-link>
                                        View
                                        <img src="{{ asset('images/icons/github.svg') }}" alt="external resource" width="16" height="16" class="ml-1">
                                    </a>
                                </div>
                            </div>
                            <div class="rounded shadow-2xl shadow-gray rounded border-gray border-2 mb-4">
                                {% apply spaceless %}
                                <pre class="overflow-auto !m-0">
                                    <code id="code" class="language-php" data-prismjs-no-auto-linker {{ stimulus_controller('syntax_highlight') }}>
                                        {{- definition.toString | escape('html') -}}
                                    </code>
                                </pre>
                                {% endapply %}
                            </div>
                        </article>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="order-2 lg:order-2 col-span-1 lg:col-span-1 lg:sticky lg:top-0 lg:max-h-screen lg:overflow-y-auto">
            {{ render(controller('Flow\\Website\\Controller\\DocumentationController::examples')) }}
        </div>
    </div>
</div>
{% endblock %}